@import "../../node_modules/ag-grid-community/src/styles/ag-grid";
@import "../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/_ag-theme-material-mixin";
@import "../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-default-params";

.ag-theme-material {
  $custom-param: (
    grid-size: 8px,
    cell-horizontal-padding: ag-derived(grid-size, $times: 1)
  );

  $dark-params: map-merge($ag-theme-material-default-params, $custom-param);
  @include ag-theme-material($dark-params);
}

.ag-theme-material-dark {
  $background: #2d3436;
  $foreground: #f5f5f5;

  $dark-params: map-merge(
    $ag-theme-material-default-params,
    (
      background-color: $background,
      foreground-color: $foreground,
      secondary-foreground-color: $foreground,
      odd-row-background-color: darken($background, 3),
      header-background-color: darken(#636e72, 30),
      header-foreground-color: $foreground,
      header-cell-hover-background-color: lighten($background, 5),
      header-cell-moving-background-color: lighten($background, 5),
      border-color: #424242,
      row-hover-color: lighten($background, 7)
    )
  );

  @include ag-theme-material($dark-params);
}
