/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar:hover {
  width: 4px !important;
  height: 4px !important;
}

.v-label {
  font-size: 0.8rem !important;
}

body,
main {
  color: #58595b !important;
}

.v-slide-group__content{
  background-color: #58595b;
  color: #ffffff;
}

// table Css
tr,
td {
  padding: 0px 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.v-data-table-header {
  background-color: #e6e6e6;
}
.v-data-table table thead tr th {
  font-size: small !important;
}
.v-data-table table tbody tr td {
  // text-align: center !important;
  font-size: small !important;
}
